



<div class="terms-add">


  <div class="add-tab ribbon" data-type="persname"><div class="add-text" data-type="persname">+ Add Person</div></div>

  <div class="add-tab ribbon" data-type="corpname"><div class="add-text" data-type="corpname">+ Add Org.</div></div>

  <div class="add-tab ribbon" data-type="topic"><div class="add-text" data-type="topic">+ Add Topic</div></div>

  <div class="add-tab ribbon" data-type="title"><div class="add-text" data-type="title">+ Add Title</div></div>

</div>


<div class="search-box">

  <div class="search-box-header"><span id="search-box-label">Add Person</span><form id="search-box-form" style="display:inline-block;"> <input class="input-mini" type="text" placeholder="Search"> </form> </div>

  <div id="search-box-results">

    <table class="table table-striped table-hover">     
      <tbody>
      </tbody>
    </table>

  </div>


  <div class="search-box-action">

      <div>
        <a href="#" id="pagination-prev">Prev</a><span id="pagination">1 of 199</span><a href="#" id="pagination-next">Next</a>
      </div>
      <div>      
        <button class="btn btn-primary" id="search-box-add">Add<span id="search-box-total-add"></span></button>
        <button class="btn btn-inverse" id="search-box-close">Close</button>
      </div>

  </div>

</div>


<button id="terms-clear" class="btn btn-warning">Clear Graph</button>
